<app-navbar></app-navbar>

<div class="page-header" style="background: url(assets/img/banner1.jpg);">
    <div class="container">
    <div class="row">
    <div class="col-md-12">
    <div class="breadcrumb-wrapper">
    <h2 class="product-title">Testimonial</h2>
    <ol class="breadcrumb">
    <li><a href="#">Home /</a></li>
    <li class="current">Testimonial</li>
    </ol>
    </div>
    </div>
    </div>
    </div>
    </div>

    <section class="testimonial section-padding">
        <div class="container">
        <div class="row">
            
   
        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-3" *ngFor="let item of Testm.data">
        <div id="testimonials" class="owl-carousel owl-loaded owl-drag">
            <div _ngcontent-onh-c60="" class="owl-item cloned" style="width: 540px; margin-right: 30px;">
                <div _ngcontent-onh-c60="" class="item">
                    <div _ngcontent-onh-c60="" class="item">
                        <div _ngcontent-onh-c60="" class="img-thumb">
                            <img _ngcontent-onh-c60="" src="assets/img/profilePic.png" style="width: 100px; height: 100px;" alt="">
                        </div><div _ngcontent-onh-c60="" class="testimonial-item">
                            <div _ngcontent-onh-c60="" class="content">
                                
                                <div _ngcontent-onh-c60="" class="info-text">
                                    <h2 _ngcontent-onh-c60="">
                                        <a _ngcontent-onh-c60="">{{item.name}}</a></h2><h4 _ngcontent-onh-c60="">
                                            <a _ngcontent-onh-c60="">{{item.email}}</a>
                                            <p _ngcontent-onh-c60="" class="description">{{item.massege}}</p>
                                        </h4></div></div></div></div></div></div>
        
        
        </div></div>
        </div>
        </div>
        </section>


        <app-footer></app-footer>