<app-navbar></app-navbar>

<div class="page-header" style="background: url(assets/img/banner1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">About Us</h2>
                    <ol class="breadcrumb">
                        <li><a href="#">Home /</a></li>
                        <li class="current">About Us</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-12">
                <div class="about-wrapper">
                    <h2 class="intro-title">Why We Are Unique</h2>
                    <p class="intro-desc">The Auction.com website enables the user to offer the product for sale at a
                        certain price and sell it at a higher price.
                    </p>
                    <p class="intro-desc">
                        To be able to display your products for sale And auction of ads, You must Register and then
                        Login
                    </p>
                    <a routerLink="/" class="btn btn-common btn-lg">Back Home</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12">
                <img class="img-fluid" src="assets/img/Logo4.jpg" alt="">
            </div>
        </div>
    </div>
</section>


<section class="counter-section section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-sm-6 work-counter-widget">
                <div class="counter">
                    <div class="icon"><i class="lni-layers"></i></div>
                    <h2 class="counterUp">{{countpro1}}</h2>
                    <p>Ad Posted</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 work-counter-widget">
                <div class="counter">
                    <div class="icon"><i class="lni-users"></i></div>
                    <h2 class="counterUp">{{countCust1}}</h2>
                    <p>Members</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 work-counter-widget">
                <div class="counter">
                    <div class="icon"><i class="lni-briefcase"></i></div>
                    <h2 class="counterUp">{{countord1}}</h2>
                    <p>sold Ads</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 work-counter-widget">
                <div class="counter">
                    <div class="icon"><i class="lni-map"></i></div>
                    <h2 class="counterUp">{{countEmpl1}}</h2>
                    <p>Employees</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="services-item wow fadeInRight animated" data-wow-delay="0.2s"
                    style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                    <div class="icon">
                        <i class="lni-book"></i>
                    </div>
                    <div class="services-content">
                        <h3><a>Full Documented</a></h3>
                        <p>As the site meets the auction feature for each user who can offer a commodity for auction
                            .</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="services-item wow fadeInRight animated" data-wow-delay="0.4s"
                    style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                    <div class="icon">
                        <i class="lni-leaf"></i>
                    </div>
                    <div class="services-content">
                        <h3><a>Clean &amp; Modern Design</a></h3>
                        <p>The site is designed in a way that makes it easy for the user to navigate and the design is
                            simple and beautiful at the same time
                            .</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="services-item wow fadeInRight animated" data-wow-delay="0.6s"
                    style="visibility: visible;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
                    <div class="icon">
                        <i class="lni-map"></i>
                    </div>
                    <div class="services-content">
                        <h3><a>Great Features</a></h3>
                        <p>There are many features on the site where you can upload a product for yourself and earn a
                            lot through it because there is no fixed price for you
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="services-item wow fadeInRight animated" data-wow-delay="0.8s"
                    style="visibility: visible;-webkit-animation-delay: 0.8s; -moz-animation-delay: 0.8s; animation-delay: 0.8s;">
                    <div class="icon">
                        <i class="lni-cog"></i>
                    </div>
                    <div class="services-content">
                        <h3><a>Completely Customizable</a></h3>
                        <p>It is specialized in public auctions. You can buy a product by setting the most possible
                            price and offer a product to you
                            .</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="services-item wow fadeInRight animated" data-wow-delay="1s"
                    style="visibility: visible;-webkit-animation-delay: 1s; -moz-animation-delay: 1s; animation-delay: 1s;">
                    <div class="icon">
                        <i class="lni-git"></i>
                    </div>
                    <div class="services-content">
                        <h3><a>User Friendly</a></h3>
                        <p>Easy to use as the goal of the site is clear and explicit through its design and through the
                            instructions inside
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="services-item wow fadeInRight animated" data-wow-delay="1.2s"
                    style="visibility: visible;-webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; animation-delay: 1.2s;">
                    <div class="icon">
                        <i class="lni-layout"></i>
                    </div>
                    <div class="services-content">
                        <h3><a>Awesome Layout</a></h3>
                        <p>We have adopted a design especially that is wonderful and at the same time simple and
                            uncomplicated
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<app-footer></app-footer>